.section-banner-summer{
  @include pxRem(margin, 47 0 0);
  .banner-summer-img{
    @include pxRem(padding, 15 15 15 0);
    position: relative;
  }
  .season-sale{
    @include pxRem(padding, 15 0 15 15);
    position: relative;
  }
}
.summer-img-text.content-all{
  position: absolute;
  @include pxRem(padding,99 46);
  .summer-text-subtitle{
    @include pxRem(font-size, 12);
  }
  .summer-text-title{
    @include pxRem(max-width, 90%);
  }
  .btn-shopnow-all.summer-btn:hover{
    color: map-get($colors, color-text);
  }
}
.sale-img-text .content-title-all{
  text-align: center;
  @include pxRem(max-width, 100%);
  color: map-get($colors, color-background );
  @include pxRem(padding,62 0 0 15);
  text-align: center;
  .sale-text-subtitle{
    @include pxRem(font-size, 12);
    color: map-get($colors, color-background );
  }
  .sale-text-title{
    color: map-get($colors, color-background );
  }
  .sale-text-all{
    max-width: 100%;
    &:hover{
      color: map-get($colors, color-background);
      opacity: 0.6;
    }
  }
  .sale-btn{
    color: map-get($colors, color-background );
  }
  &:hover{
    color: white;
   
  }
}

@media only screen and (max-width: 1023px){
  .section-banner-summer{
    @include pxRem(margin-bottom, 0);
  }
  .banner-summer{
    flex-direction: column;
  }
  .section-banner-summer{  
    .banner-summer-img{
      @include pxRem(padding, 15 0 15 0);
      img{       
        width: 100%;
      }
    }
  }
  .season-sale{
    @include pxRem(padding, 15 0);
    img{       
      width: 100%;
    }
    .sale-img-text.content-all{
      @include pxRem(padding, 20% 20%);
      .content-title-all .sale-text-title{
        max-width: 100%;
      }
    }  
  }
}

@media only screen and (max-width: 767px) {
  .section-banner-summer {
    .banner-summer-img{
      padding: 0;
      overflow: hidden;
    }
    .season-sale {
      @include pxRem(padding, 0);
      @include pxRem(margin-top, 25);
    }
  }
  .summer-img-text.content-all{
    @include pxRem(padding, 70 46);
  }
}
@media only screen and (max-width: 667px) {
  .summer-img-text.content-all{
    @include pxRem(padding, 20 46);
  }
}
@media only screen and (max-width: 479px) {
  .section-banner-summer{
    .season-sale{
      padding: 0;
      img{
        height: 100%;
        object-fit: cover;
      }
      .sale-img-text.content-all{
        @include pxRem(padding, 60 46);
      }
    }
  }
}
