.section-banner-countdown{
  @include pxRem(margin-top, 20);
  .banner-countdown{
    @include pxRem(border, 1 solid map-get($colors, bs-border-white));
    @include pxRem(padding, 20);
    @include pxRem (width, 100%);
    background-color: map-get($colors, color-background-red);
    align-items: center;
    justify-content: center;
    color: map-get($colors, color-danger );
    @include pxRem(border-radius, 3);
    p{
      @include pxRem(font-size, 24);
      @include pxRem(margin-right, 15);
    }
    .bannercountdown-text{
      font-weight: map-get($font-weight, font-bland );
      color: map-get($colors, color-text-desc );
      @include pxRem(margin-left, 15);
    }
  }
}
.countdown-banner{
  align-items: center;
  .count-item{
    display: flex;
    @include pxRem(font-size, 15);
    @include pxRem(width, 42);
    @include pxRem(height, 44);
    color: map-get($colors, color-background );
    background-color: map-get($colors, color-primary );
    justify-content: center;
    align-items: center;
    font-weight: map-get($font-weight, font-regular);
    @include pxRem(border-radius, 2);
  }
  span{
    @include pxRem(margin, 0 4);
    color: map-get($colors, color-text-desc );
    font-weight: map-get($font-weight, font-regular );
  }
}
