.section-bannerbg{
  @include pxRem(margin-top, 66);
  @include pxRem(height, 70%);
  .bannerbg-content{
    flex-direction: row-reverse;
    align-items: center;
    background-color: map-get($colors, color-background-gray );
    img{
      @include pxRem(width, 50%);
    }
    &:last-child{
      flex-basis: 50%;
    }
  }
}
.bannerbg-content-text{
  align-items: center;
  justify-content: center;
  @include pxRem(line-height, 24);
  text-align: center;
  .content-bg{
    @include pxRem(padding, 30);
  }
  h4{
    font-weight: map-get($font-weight, font-medium );
    @include pxRem(letter-spacing, 1);
    @include pxRem(font-size, 12);
    text-transform: uppercase;
    @include pxRem(margin, 0 0 8);
    @include pxRem(line-height, 14.4);
  }
  h2{
    @include pxRem(line-height, 67.2);
    @include pxRem(font-size, 56);
    @include pxRem(margin, 0 0 30);
    font-weight: map-get($font-weight, font-regular );
  }
  p{
    @include pxRem(line-height, 24);
    @include pxRem(margin, 0 80 30);
    @include pxRem(font-size, 16);
    @include pxRem(max-width, 540);
    opacity: 0.6;
  }
  a{
    border: 1px solid map-get($colors, color-primary );
    @include pxRem(padding, 8 30);
    @include pxRem(border-radius,2);
    color: map-get($colors, color-primary);
    @include pxRem(font-size, 15);
    &:hover{
      color: map-get($colors, color-background);
      background-color: map-get($colors, color-primary);
    }
  }
}

@media only screen and (max-width: 1023px){
  .section-bannerbg{
    @include pxRem(margin-top, 0);
  }
  .bannerbg-content-text{
    h2{
      @include pxRem(font-size, 40);
    }
    p{
      @include pxRem(margin, 0 0 30);
      @include pxRem(font-size, 14);
    }
  }
}

@media only screen and (max-width: 767px){
  .section-bannerbg{
    @include pxRem(margin-top, 0);
  }
  .bannerbg-content img{
    @include pxRem(height, 380);
    object-fit: cover;
  }
  .bannerbg-content-text{
    h2{
      line-height: 1.2;
    }
    p{
      @include pxRem(margin, 0 0 30);
      @include pxRem(font-size, 14);
    }
  }
}

@media only screen and (max-width: 479px){
  .section-bannerbg{
    @include pxRem(margin-top, 18);
    .bannerbg-content{
      flex-direction: column;
      img{
        @include pxRem(width, 100%);
      }
    }
  }
  .bannerbg-content img{
    @include pxRem(height, 390);   
    object-fit: cover;
  }
  .bannerbg-content-text{
    h2{
      line-height: 1.2;
    }
    p{
      @include pxRem(margin, 0 0 30);
      @include pxRem(font-size, 14);
    }
  }
}


