.section-banner-season{
  @include pxRem(margin-top, 5);
  @include pxRem(margin-bottom, 25);
}
.banner-season-list{
  position: relative;
  @include pxRem(width, 100%);
  li{
    @include pxRem(padding, 15 15 0 15);
    position: relative;
    top:0;
    left:0;
    &:first-child{
    @include pxRem(padding,15 15 0 0 );
    }
    &:last-child{
      @include pxRem(padding,15 0 0 15 );
      right: 0;
      }
  }
}
.banner-season-item{
  height: 100%;
}
.content-title-all.season-content{
  @include pxRem(padding, 25 10);
  @include pxRem(max-width, 100%);
  &:hover{
    color: map-get($colors, color-text );
  }
  .subtitle-season{
    @include pxRem(font-size, 12);
    @include pxRem(margin-bottom,11);
  }
  .title-season{
    @include pxRem(max-width, 90%);
    font-weight: map-get($font-weight, font-normal );
    @include pxRem(margin-bottom,14);
  }
}
.content-all.banner-season-content.two{
  @include pxRem(padding, 30 45);
  .title-season{
    @include pxRem(max-width, 100%);
  }
}
.content-all.banner-season-content.tree{
  @include pxRem(padding, 30 45);
  .title-season{
    @include pxRem(max-width, 100%);
  }
}
.content-all.banner-season-content{
  @include pxRem(padding, 30);
}
@media only screen and (max-width: 1023px){
  .content-all.banner-season-content{
    @include pxRem(padding, 60 40);
  }
  .content-all.banner-season-content.two{
    @include pxRem(padding, 60 60);
  }
  .content-all.banner-season-content.tree{
    @include pxRem(padding, 60 60);
  }
  .content-title-all.season-content{
    @include pxRem(max-width, 52%);
    .title-season{
      @include pxRem(font-size, 34);
      line-height: 1.2;
    }
  }
  .content-title-all.season-content.tree{
    @include pxRem(max-width, 70%);
  }
}

@media only screen and (max-width: 767px) {
  .banner-season-list{
    flex-direction: column;
    li{
      @include pxRem(padding, 15 0);
      &:first-child{
        @include pxRem(padding, 15 0);
      }
      &:last-child{
        @include pxRem(padding, 15 0);
      }
    }
  }
  .content-title-all.season-content{
    .text-season, .btn-shopnow-season {
      visibility: visible;
    }
  }
  .banner-season-item img{
    width: 100%;
    @include pxRem(height, 292);
    object-fit: cover;
  }
  .content-title-all.season-content{
    .title-season{
      height: auto;
      @include pxRem(font-size, 30);
    }
  }
  .content-all.banner-season-content{
    @include pxRem(padding, 40 40);
  }
  .content-all.banner-season-content.two, .content-all.banner-season-content.tree{
    @include pxRem(padding, 40 40);
  }
  .content-title-all.season-content{
    @include pxRem(max-width, 70%);
  }
}

@media only screen and (max-width: 410px) {
  .content-title-all.season-content{
    .text-season, .btn-shopnow-season {
      visibility: hidden;
    }
  }
  .section-banner-summer .season-sale .sale-img-text.content-all {
    @include pxRem(padding, 30 46);
  }
}




