.section-blog{
  @include pxRem(margin-top, -1);
  .blog-title{
    @include pxRem(margin-bottom, 60);
    text-align: center;
    h2{
      @include pxRem(font-size, 30);
      font-weight: map-get($font-weight, font-regular );
      @include pxRem(margin-bottom, 2);
    }
    p{
      margin: auto;
      @include pxRem(font-size, 17);
      font-weight: map-get($font-weight, font-bland);
      color: map-get($colors, color-text-desc );
      @include pxRem(width, 65%);
      line-height: 1.55;
    }
  }
}
.blog-item{
  max-width: 94.3%;
  height: 100%;
  .blog-item-img{
    @include pxRem(margin-bottom, 24);
  }
  // &.left{
  //   margin-left: auto;
  // }
  // &.right{
  //   margin-right: 0;
  // }
}
.blog-item-content{
  @include pxRem(margin-top, 18);
  .blog-subtitle{
    @include pxRem(margin-bottom, 5);
    @include pxRem(font-size, 12);
    font-weight: map-get($font-weight , font-medium );
    color: map-get($colors, color-text-desc );
    letter-spacing: 1px;
    span{
      font-weight: map-get($font-weight , font-normal );
      letter-spacing: 1px;
      position: relative;
      @include pxRem(font-size, 12);
      @include pxRem(letter-spacing,-0.014);
     @include pxRem(margin-left, 19);
      &::before{
        content:"";
        @include pxRem(height, 1);
        @include pxRem(width, 14);
        background-color: map-get($colors, color-text-desc );
        display: inline-block;
        @include pxRem(margin, 0 5);
        position: absolute;
        @include pxRem(top, 47%);
        @include pxRem(right, 100%);
      }
    }
    &>a{
      color: map-get($colors, color-text-desc );
    }
  }
  .blog-title{
    @include pxRem( font-size, 22);
    @include pxRem(margin-bottom, 6);
    text-align: left;
    font-weight: map-get($font-weight, font-regular );
    @include pxRem(letter-spacing, 0.0015);
  }
  .blog-text{
    @include pxRem(margin-bottom, 16);
    color: map-get($colors, color-text-desc);
    @include pxRem(font-size, 16);
    line-height: 1.5;
  }
}
@media only screen and (max-width: 1023px){
  .blog-item{
    &.left{
      @include pxRem(margin, 0 0);
    }
    &.right{
      @include pxRem(margin, 0 0 0 20);
    }
    &.mid{
      @include pxRem(margin, 0 10 0 20 );
    }
  }
  
}
@media only screen and (max-width: 910px){
  .blog-list {
    flex-direction: column;
    .blog-item{
      max-width: 100%;
      margin: 0;
      .blog-item-img img{
        @include pxRem(margin-bottom, 24);
      }
      .blog-item-content{
        @include pxRem(margin, 0 0 30 0);
      }
    }
  }
  .mid{
    @include pxRem(margin, 0 10);
  }
}
@media only screen and (max-width: 768px){
  .blog-list {
    flex-direction: column;
    .blog-item{
      max-width: 100%;
      .blog-item-img img{
        @include pxRem(margin-bottom, 24);
      }
    }
  }
}
@media only screen and (max-width: 479px){
  .section-blog .blog-title{
    h2{
      @include pxRem(font-size, 20);
      font-weight: map-get($font-weight, font-medium );
    }
    p{
      width: 100%;
      @include pxRem(font-size, 14);
    }
  }
}

