.section-blog{
  @include pxRem(margin-top, 20px);
  .blog-title{
    @include pxRem(margin-bottom, 30px);
    text-align: center;
    h2{
      @include pxRem(font-size, 30);
      font-weight: map-get($font-weight, font-regular );
    }
    p{
      margin: auto;
      @include pxRem(font-size, 17);
      font-weight: map-get($font-weight, font-bland);
      color: map-get($colors, color-text-desc );
      @include pxRem(width, 80%);
    }
  }
}
.blog-item{
  max-width: 95%;
  .blog-item-img{
    @include pxRem(margin-bottom, 24);
  }
  .left{
    margin-left: auto;
  }
  .right{
    margin-right: auto;
  }
}
.blog-item-content{
  .blog-subtitle{
    @include pxRem(margin-bottom, 10);
    @include pxRem(font-size, 12);
    font-weight: map-get($font-weight , font-medium );
    color: map-get($colors, color-text-desc );
    
    span{
      font-weight: map-get($font-weight , font-normal );
      position: relative;
     @include pxRem(margin-left, 20);
      &::before{
        content:"";
        @include pxRem(height, 1);
        @include pxRem(width, 14);
        background-color: map-get($colors, color-text-desc );
        display: inline-block;
        @include pxRem(margin, 0 5);
        position: absolute;
        @include pxRem(top, 50%);
        @include pxRem(right, 100%);
      }
    }
    &>a{
      color: map-get($colors, color-text-desc );
    }
  }
  .blog-title{
    @include pxRem( font-size, 22);
    @include pxRem(margin-bottom, 10);
    text-align: left;
  }
  .blog-text{
    @include pxRem(margin-bottom, 16);
    color: map-get($colors, color-text-desc);
    @include pxRem(font-size, 16);
  }
}
@media only screen and (max-width: 910px){
  .blog-list {
    flex-direction: column;
    .blog-item{
      max-width: 100%;
      .blog-item-img img{
        @include pxRem(margin-bottom, 24);
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .blog-list {
    flex-direction: column;
    .blog-item{
      max-width: 100%;
      .blog-item-img img{
        @include pxRem(margin-bottom, 24);
      }
    }
  }
}
@media only screen and (max-width: 479px){
  .section-blog .blog-title{
    h2{
      @include pxRem(font-size, 20);
      font-weight: map-get($font-weight, font-medium );
    }
    p{
      width: 100%;
      @include pxRem(font-size, 14);
    }
  }
}

