.section-product2{
  @include pxRem(margin-top, -17);
}
.product2-info{
  @include pxRem(height, 81);
  .product1-review{
    @include pxRem(margin, 12 0 8);
  }
  .product1-name{
    @include pxRem(margin-top, 15);
    @include pxRem(font-size, 15);
  }
}
.product2-img-text{
  top: 15.7%;
  .content-title-all{   
    .subtitle-all{
      @include pxRem(font-size, 12);
      color: map-get($colors, color-background );
      @include pxRem(margin-bottom, 10);
    }
    .title-all{
      color: map-get($colors, color-background );
      line-height: 1.19;
    }
    .text-all{
      opacity: 0.6;
      color: map-get($colors, color-background );
    }
    .btn-shopnow-all{
      color: map-get($colors, color-background );     
    }
    &:hover{
      color: map-get($colors, color-text );
    }
  }
  &:hover{
    color: map-get($colors, color-text );
  }
}
.product2-banner-title{
  img{
    @include pxRem(height, 516);
  }
}
.product1-item{
  width: 100%;
}
.product1-img.product2-img{
  .product-img-default1-1 {
    @include pxRem(width, 100%);
    @include pxRem(height, 439);
    display: flex;
    background-size: 100%;
    .product1-img-default1-1,.product1-img-default1-2,.product1-img-default1-3,.product1-img-default1-4{
      width: 25%;
    }
  }
  .product-img-default1-2 {
    @include pxRem(margin-top, 2);
    @include pxRem(width, 100%);
    @include pxRem(height, 4);
    display: flex;
    background-size: 100%;
    justify-content: space-between;
    .product1-img-default1-5,.product1-img-default1-6,.product1-img-default1-7,.product1-img-default1-8{
      background-color: #00000026;
      width: 24%;
    }
  }
  .active {
    background-color: #0000004d !important;
  }
}
@media only screen and (max-width: 1023px){
  .product1-img{
    .product-img-default1-1, .product-img-default1-2  {
      @include pxRem(width, 100%);
    }
  }
  .product1 .product2-item{
    @include pxRem(width,50%);
  }
}
@media only screen and (max-width: 767px){
  .product2-img{
    @include pxRem(width, 100%);
  }
}
@media only screen and (max-width: 640px){
  .product2 .product2-list{
    flex-direction: column;
    .product2-banner{
      @include pxRem(width, 100%);
    }
    .product2-item{
      @include pxRem(width,100%);
      margin: 0 0;
    }
  }
}
@media only screen and (max-width: 479px){
  .product2-img-text{
    top: 0;
    @include pxRem(padding, 70 60);
  } 
  .product2-info .product1-name{
    @include pxRem(margin-bottom, 8);
  }
}