.section-product3{
  @include pxRem(margin-top, -15);
}
.product3-info{
  @include pxRem(height, 81);
  .product1-review{
    @include pxRem(margin, 12 0 9);
    span{
      @include pxRem(margin, 4 3 0 1);
    }
  }
  .product1-name{
    @include pxRem(margin-top, 15);
    @include pxRem(font-size, 15);
  }
  .product1-price{
    @include pxRem(margin, 6 0 9);
  }
}
.product1-img.product3-img{
  .product-img-default1-1 {
    @include pxRem(width, 292.5);
    @include pxRem(height, 439);
    display: flex;
    background-size: 100%;
    .product1-img-default1-1,.product1-img-default1-2,.product1-img-default1-3,.product1-img-default1-4{
      width: 25%;
    }
  }
  .product-img-default1-2 {
    @include pxRem(margin-top, 2);
    @include pxRem(width, 292.5);
    @include pxRem(height, 4);
    display: flex;
    background-size: 100%;
    justify-content: space-between;
    .product1-img-default1-5,.product1-img-default1-6,.product1-img-default1-7,.product1-img-default1-8{
      background-color: #00000026;
      width: 24%;
    }
  }
  .active {
    background-color: #0000004d !important;
  }
}
.slick-slider .slick-next {
  @include pxRem(right, -48);
  top: 45%;
  opacity: 1;
  z-index: 5;
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: '\f105';
    font-weight: map-get($font-weight,font-medium );
    color: map-get($colors, color-text-desc );
    font-size: 40px;
  }
  
}
.slick-slider .slick-prev {
  @include pxRem(left, -48);
  top: 45%;
  opacity: 1;
  z-index: 5;
  &::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: map-get($font-weight,font-medium );
    content: '\f104';
    color: map-get($colors, color-text-desc );
    font-size: 40px;
  }
}
.slick-slider:hover > .slick-arrow {
  @include pxRem(margin,-20 0 0 0);
  @include pxRem(margin,-20 0 0 0);
  transition: margin 1s; 
}
.slick-dots{
  @include pxRem(bottom, -58);
}
.product3-item{
  @include pxRem(margin,0 );
  .product3-img{
    overflow: hidden;
    @include pxRem(margin-bottom, 10);
    .img-total-action{
      @include pxRem(top, 10);
      @include pxRem(right, 11);
    }
  }
}

@media only screen and (max-width:1350px){
  .slick-slider .slick-next {
    right: 0;  
    visibility: hidden;
  }
  .slick-slider .slick-prev {
    left: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 1100px){
  .product1-img.product3-img{
    @include pxRem(width, 311);
    .product-img-default1-1 {
      @include pxRem(width, 311);
    }
    .product-img-default1-2 {
      @include pxRem(width, 311);
    }
  }
  .product1 .product3-item:last-child{
    margin: 0;
  }
  .product3-list{
    .slick-track .slick-slide{
      @include pxRem(width, 311!important);
    }
  }
}
@media only screen and (max-width: 1023px){
  .slick-slider .slick-next {
    visibility: visible;
    right: 0;  
  }
  .slick-slider .slick-prev {
    visibility: visible;
    left: 0;
  }  
  .product1-img.product3-img{
    @include pxRem(width, 311);
    .product-img-default1-1 {
      @include pxRem(width, 311);
    }
    .product-img-default1-2 {
      @include pxRem(width, 311);
    }
  }
  .product1 .product3-item:last-child{
    margin: 0;
  }
  .product3-list{
    .slick-track .slick-slide{
      @include pxRem(width, 311!important);
    }
  }
}

@media only screen and (max-width: 767px){
  .product1-img.product3-img{
    @include pxRem(width, 226);
    height: 100%;
    .product-img-default1-1 {
      @include pxRem(width, 226);
      @include pxRem(height, 339);
    }
    .product-img-default1-2 {
      @include pxRem(width, 226);
    }
  }
  .product3-list{
    .slick-track .slick-slide{
      @include pxRem(margin-right, 25);
      @include pxRem(width, 226!important);
    }
  }
  .product3-info .product1-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 479px){
  .product3-img{
    @include pxRem(width, 210);
    .product-img-default1-1 {
      @include pxRem(width, 210);
      @include pxRem(height, 315);
    }
    .product-img-default1-2 {
      @include pxRem(width, 210);
    }
  }
  .product3-list{
    .slick-track .slick-slide{
      @include pxRem(margin-right, 25);
      @include pxRem(width, 210!important);
    }
  }
  .product3-info .product1-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include pxRem(max-width, 210);
  }
}

