.page-footer{
  @include pxRem(margin-top, 60);
  .footer-form{
    background-color: map-get($colors, color-text );
    color: map-get($colors, color-background );
    @include pxRem(padding, 80 0);
  }
  .footer-top{
    flex-wrap: wrap; 
    @include pxRem(padding, 60 0);
    @include pxRem(border-bottom, 1 solid map-get($colors, color-border));
  }
}
.form-subscribe{
  @include pxRem(max-width, 40%);
  h3{
    @include pxRem(font-size, 30);
    font-weight: map-get($font-weight, font-regular );
    color: map-get($colors, color-background );
    @include pxRem(max-width, 75%);
    @include pxRem(margin-bottom, 8);
  }
  .title-text{
    @include pxRem(font-size, 16);
    font-weight: map-get($font-weight, font-regular );
    opacity: 0.6;
    @include pxRem(margin-bottom, 30);
  }
  .form-text{
    @include pxRem(max-width, 73%);
    @include pxRem(height, 48);
    display: inline-block;
    @include pxRem(padding, 8 15);
    @include pxRem(border-radius, 2);
    @include pxRem(border, 1 solid map-get($colors, color-border));
  }
  .btn-sub{
    @include pxRem(font-size, 15);
    font-weight: map-get($font-weight, font-regular);
    @include pxRem(padding, 11 30);
    @include pxRem(border-radius, 2);
    @include pxRem(margin-left, -1);
    background-color: map-get($colors, color-text );
    @include pxRem(border, 1 solid map-get($colors, rgba(255,255,255,0.5)));
  }
  .text-bottom{
    @include pxRem(font-size, 12);
    color: map-get($colors, color-text-desc);
    @include pxRem(margin-top, 10);
    display: block;
  }
}
.address{
  @include pxRem(max-width, 40%);
  h2{
    @include pxRem(font-size, 30);
    font-weight: map-get($font-weight, font-regular );
    color: map-get($colors, color-background );
    @include pxRem(max-width, 75%);
    @include pxRem(margin-bottom, 8);
  }
  .title-text{
    @include pxRem(font-size, 16);
    font-weight: map-get($font-weight, font-regular );
    opacity: 0.6;
    @include pxRem(margin-bottom, 39);
  }
  .text-bottom{
    @include pxRem(font-size, 12);
    color: map-get($colors, color-text-desc);
    @include pxRem(margin-top, 10);
    display: block;
  }
  a{
    @include pxRem(margin-bottom, 9);
  }
  .ggplay{
    @include pxRem(margin-bottom, 4);
  }
}
.footer-logo{
  flex-basis: 30%;
  img{
    @include pxRem(max-width, 40%);
    height: auto;    
  }
  p{
    @include pxRem(margin-bottom, 16);
    @include pxRem(font-size, 14);
    @include pxRem(max-width, 85%);
  }
}
.footer-middle-col{
  .footer-middle-title{
    @include pxRem(margin-bottom, 15);
    @include pxRem(font-size, 16);
    font-weight: map-get($font-weight, font-medium);
  }
  a{
    @include pxRem(font-size, 15);
  } 
}
.footer-bottom{
  @include pxRem(padding, 40 0 50);
  p{
    @include pxRem(margin-right, 15);
    @include pxRem(margin-bottom, 13);
  }
  .footer-bot-list{
    margin-left: auto;
    justify-content: center;
    a{
      @include pxRem(padding, 0 6);
      @include pxRem(font-size, 13);
      @include pxRem(border-left, 1 solid map-get($colors, color-border));
    }
    .bot-item1{
      border: none;
    }
  }
}

