.page-header{
  @include pxRem(height, 124);
  .header-top{
    @include pxRem(height, 40);
    @include pxRem(font-size, 13);
    border-bottom: 1px solid map-get($colors, bs-gray-500);
    color: map-get($colors , color-text );  
    align-items: center; 
    .header-top-left{ 
      align-items: center;
      display: flex;      
      justify-content: flex-start;
    }
    .header-top-right{
      align-items: center;
    }
  }
  .header-nav{
    @include pxRem(font-size, 15);
    color: map-get($colors, color-text);
    background-color: map-get($colors, color-background );
    @include pxRem(height, 84);  
    align-items: center;
    .header-logo{
      @include pxRem(width, 121);
      @include pxRem(height, 27);
      @include pxRem(margin-left, 15);
      .btn-icon{
        background-color: map-get($colors, color-background );
        text-align: center;
        border: none;
        @include pxRem(margin-right, 20);
        color: map-get($colors, color-text );
      }
    }
    .header-menu{
      text-transform: uppercase;
      text-align: left;
      .header-item{
        @include pxRem(margin-left, 15);
        color: map-get($colors, color-text);
      }
      span{
        @include pxRem(font-size, 9);
      }
    }
    .social-list{
      a{
        @include pxRem(margin-left, 15);
        color: map-get($colors, color-text);
        position: relative;
        @include pxRem(font-size, 20);
      }
      .add-product{
        position: absolute;
        background-color: map-get($colors, color-primary );
        color: map-get($colors, color-background);
        border-radius: 50%;
        @include pxRem(padding, 0 4);
        @include pxRem(font-size, 9);
      }
      .heart{
        @include pxRem(margin, -2 -5);
      }
      .shopping{
        @include pxRem(margin, -2 -7);
      }
      .item-card{
        @include pxRem(margin-left, 15);
        @include pxRem(font-size, 14);
      }
    }
  }
  .header-bottom{
    h4{
      background-color: map-get($colors, color-primary );
      color: map-get($colors, color-background );
      text-align: center;
      @include pxRem(font-size, 12);
      @include pxRem(letter-spacing, 0.25);
      @include pxRem(padding, 10 0);
      font-weight: map-get($font-weight, font-normal );
      text-transform:capitalize;
    }
  }
}
.dropdown-ins{
  @include pxRem(padding, 0 12);
  position: relative;
  a{
    color: map-get($colors, color-text );
    .dropdown-ins-icon{
      font-weight: 300;
      @include pxRem(font-size, 16);
      @include pxRem(margin-right, 6);
    }
  }
  &:hover{
    .menu-top-header-left{
      visibility: visible;
    }
  }
}
.header-right-title{
  @include pxRem(margin-left, 30);
  span{
    color: map-get( $colors, color-primary );
  }
}
.menu-top-header-right{
  align-items: center;
  position: relative;
  li{
    @include pxRem(padding-left, 20);
    a{
      color: map-get($colors, color-text );
    }
    span{
      @include pxRem(font-size, 9);
      @include pxRem(padding-left, 2);
    }
  }
  .item-language:hover{
    .language{
      visibility: visible;
    }
  }
  .item-currency:hover{
    .currency{
      visibility: visible;
    }
  }
}
.menu-top-header-left{
  visibility: hidden;
  position: absolute; 
  @include pxRem(font-size, 16);
  @include pxRem(width, 165%);
  background-color: map-get($colors, color-background );
  @include pxRem(border, 1 solid map-get($colors, color-border));
  @include pxRem(top, 34);
  @include pxRem(padding, 15);
  li{
    @include pxRem(padding, 5 0);
    .icon-ins{
      @include pxRem(margin-right, 14);
    }
    .label{
      @include pxRem(font-size, 14);
    }
    p{
      @include pxRem(margin-top, 12);
      @include pxRem(font-size, 13);
      opacity: 0.4;
    }
  } 
}
.menu-language-currency{
  position: absolute; 
  @include pxRem(min-width, 130);
  @include pxRem(padding, 10 0);
  @include pxRem(top, 34);
  background-color: map-get($colors, color-background );
  z-index: 3;
  @include pxRem(border, 1 solid map-get($colors, color-border));
  li{
    @include pxRem(padding, 4 15 );
  }
  &.language{
    visibility: hidden;
    @include pxRem(right, 44);
  }
  &.currency{
    visibility: hidden;
    @include pxRem(right, -12);
  }
}
.menu-header-item{
  position: relative; 
  .main-menu-home{
    position: absolute; 
    visibility: hidden;
    @include pxRem(min-width, 240);
    @include pxRem(padding, 18 0);
    @include pxRem(top, 53);
    @include pxRem(left, -15);
    background-color: map-get($colors, color-background );
    z-index: 3;
    @include pxRem(border, 1 solid map-get($colors, color-border));
    a{
      align-items: center;
      display: block;
      @include pxRem(font-size, 15);
      @include pxRem(padding, 4 30);
      @include pxRem(margin-left, 0);
      text-transform: capitalize;
      &:hover{
        color: map-get($colors, color-text );
      }
    }
  }
  .item-home:hover{
    .main-menu-home{
      visibility: visible;
    }
  }
  .main-menu-shop{
    visibility: hidden;
  }
  
}

