.page-header{
  @include pxRem(height, 95);
  .header-top{
    @include pxRem(height, 40);
    @include pxRem(font-size, 13);
    border-bottom: 1px solid map-get($colors, color-border);
    color: map-get($colors , color-text );  
    align-items: center; 
    .header-top-left{ 
      align-items: center;
      display: flex;      
      justify-content: flex-start;
      @include pxRem(margin-right, 422);
    }
    .header-top-right{
      align-items: center;
    }
  }
  .header-nav{
    @include pxRem(font-size, 15);
    color: map-get($colors, color-text);
    background-color: map-get($colors, color-background );
    @include pxRem(height, 84);  
    align-items: center;
    .social-list{
      a{
        @include pxRem(margin-left, 15);
        color: map-get($colors, color-text);
        position: relative;
        @include pxRem(font-size, 21);
      }
      .add-product{
        position: absolute;
        background-color: map-get($colors, color-primary );
        color: map-get($colors, color-background);
        border-radius: 50%;
        @include pxRem(padding, 0 4);
        @include pxRem(font-size, 9);
      }
      .heart{
        @include pxRem(margin, -2 -5);
      }
      .shopping{
        @include pxRem(margin, -2 -7);
      }
      .item-card{
        @include pxRem(margin-left, 15);
        @include pxRem(font-size, 14);
      }
    }
  }
  .header-bottom{
    h4{
      background-color: map-get($colors, color-primary );
      color: map-get($colors, color-background );
      text-align: center;
      @include pxRem(font-size, 12);
      @include pxRem(letter-spacing, 0.25);
      @include pxRem(padding, 10 0);
      font-weight: map-get($font-weight, font-normal );
      text-transform:capitalize;
    }
  }
}
.header-logo{
  @include pxRem(width, 121);
  @include pxRem(height, 32);
  align-items: center;
  .btn-icon{
    background-color: map-get($colors, color-background );
    text-align: center;
    border: none;
    @include pxRem(margin-right, 20%);
    color: map-get($colors, color-text );
    @include pxRem(font-size, 21);
  }
}

.dropdown-ins{
  position: relative;
  a{
    color: map-get($colors, color-text );
    .dropdown-ins-icon{
      font-weight: 300;
      @include pxRem(font-size, 16);
      @include pxRem(margin-right, 6);
    }
  }
  &:hover{
    .menu-top-header-left{
      visibility: visible;
    }
  }
}
.header-right-title{
  @include pxRem(margin-left, 30);
  strong{
    color: map-get( $colors, color-primary );
  }
}
.menu-top-header-right{
  align-items: center;
  position: relative;
  li{
    @include pxRem(padding,10 0 10 20);
    a{
      color: map-get($colors, color-text );
    }
    span{
      @include pxRem(font-size, 9);
      @include pxRem(padding-left, 2);
    }
  }
  .item-language:hover{
    .language{
      visibility: visible;
    }
  }
  .item-currency:hover{
    .currency{
      visibility: visible;
    }
  }
}
.menu-top-header-left{
  visibility: hidden;
  position: absolute; 
  @include pxRem(font-size, 16);
  @include pxRem(width, 165%);
  background-color: map-get($colors, color-background );
  @include pxRem(border, 1 solid map-get($colors, color-border));
  @include pxRem(top, 34);
  @include pxRem(padding, 15);
  li{
    @include pxRem(padding, 5 0);
    .icon-ins{
      @include pxRem(margin-right, 14);
    }
    .label{
      @include pxRem(font-size, 14);
    }
    p{
      @include pxRem(margin-top, 12);
      @include pxRem(font-size, 13);
      opacity: 0.4;
    }
  } 
}
.menu-language-currency{
  position: absolute; 
  @include pxRem(min-width, 130);
  @include pxRem(padding, 10 0);
  @include pxRem(top, 40);
  background-color: map-get($colors, color-background );
  z-index: 3;
  @include pxRem(border, 1 solid map-get($colors, color-border));
  li{
    @include pxRem(padding, 4 15 );
  }
  &.language{
    visibility: hidden;
    @include pxRem(right, 44);
  }
  &.currency{
    visibility: hidden;
    @include pxRem(right, -12);
  }
}
.header-menu{
  text-transform: uppercase;
  text-align: left;
  @include pxRem(margin, 0 141);
  @include pxRem(height, 84);
  .item-home:hover{
    .main-menu-home{
      visibility: visible;
      z-index: 9;
    }
  }
  .item-shop:hover{
    .main-menu-shop{
      visibility: visible;
      z-index: 9;
    }

  }
  .menu-header-item{
    @include pxRem(margin, 65 0 0 30);
    height: 100%;

    .header-item{
      color: map-get($colors, color-text);
      font-weight: map-get($font-weight, font-medium);
    }
    span{
      @include pxRem(font-size, 9);
    }
  }
}
.menu-header-item{
  position: relative; 
  .main-menu-home{
    position: absolute; 
    visibility: hidden;
    @include pxRem(min-width, 240);
    @include pxRem(padding, 18 0);
    @include pxRem(top, 51);
    @include pxRem(left, -15);
    background-color: map-get($colors, color-background );
    @include pxRem(border, 1 solid map-get($colors, color-border));
    a{
      align-items: center;
      display: block;
      @include pxRem(font-size, 15);
      @include pxRem(padding, 4 30);
      @include pxRem(margin-left, 0);
      text-transform: capitalize;
    }
    a:hover{
      color: map-get($colors, color-text );
    }
  }
  .main-menu-shop{
    visibility: hidden;
    position: absolute;
    @include pxRem(min-width, 100%);
    @include pxRem(padding, 18 0);
    @include pxRem(top, 51);
    background-color: map-get($colors, color-background );
    @include pxRem(border, 1 solid map-get($colors, color-border));
    @include pxRem(right, -780);
    text-transform: capitalize;
    li{
      @include pxRem(margin-left, -70);
      align-items: center;
      display: block;
      @include pxRem(font-size, 15);
      @include pxRem(padding, 4 30);
    }
  }
  .menu-main-item-shop{
    @include pxRem(margin-left, -40);
    color: map-get($colors, color-form-active );
  }
  .sub-menu-list{
    @include pxRem(padding-top, 6);
    a:hover{
      color: map-get($colors, color-text );
    }
  }
}
.item-card{
  position: relative;
  .card-icon{
    position: absolute;
    visibility: hidden;
    @include pxRem(min-width, 300);
    @include pxRem(max-width, 300);
    background-color: map-get($colors, color-background );  
    @include pxRem(border, 1 solid map-get($colors, color-border));
    @include pxRem(border-radius, 4);
    @include pxRem(padding, 15);
    @include pxRem(top, 120%);
    @include pxRem(right, 0);
    .card-item{
      @include pxRem(padding, 15 0);
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    img{
      @include pxRem(width, 62);
      @include pxRem(margin-bottom, 15);
    }
    p{
      @include pxRem(font-size, 14);
      font-weight: map-get($font-weight, font-medium );
    }
  }
  &:hover{
    .card-icon{
      visibility: visible;
    }
  }
}
.ant-drawer-content-wrapper{
  @include pxRem(width, 320 !important);
}
.menu-drawwer-top{
  @include pxRem(margin-bottom, 10);
  @include pxRem(font-size, 16);
  h3{
    @include pxRem(font-size, 14);
    font-weight: map-get($font-weight, font-medium);
    @include pxRem(margin, 8 0 10 22);
  }
  .header-menu-drawwer{
    @include pxRem(padding-top, 28);
    @include pxRem(border-top, 1 solid map-get($colors, color-border));
  }
}
.text-drawwer{
  @include pxRem(padding,  12 22);
  @include pxRem(font-size, 13);
}
.ant-menu-title-content {
  @include pxRem(font-size, 16!important);
}
.ant-drawer-body{
  padding: 0 !important;
}
.ant-drawer-header-title{
  flex-direction: row-reverse;
  .ant-drawer-close{
    background-color: #e8e9ef;
    color: map-get($colors, color-text);
    @include pxRem(padding, 8);
    @include pxRem(font-size, 14);
    margin-right: 0;
    font-weight: map-get($font-weight, font-medium);
  }
  .ant-drawer-title{
    @include pxRem(font-size, 34);
    font-weight: map-get($font-weight, font-verybold);
  }
}
.header-menu-icon-hidden{
  background-color: map-get($colors, color-background);
  position: fixed;
  visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  color: #8a8b8e;
  @include pxRem(border,1 solid map-get($colors, color-border));
  @include pxRem(padding, 10 20);
  .menu-icon-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    a{
      @include pxRem(font-size, 22);
      color: #8a8b8e;
    }
    .icon-item-text{
       text-transform: uppercase;
       @include pxRem(font-size, 9);
       font-weight: map-get($font-weight, font-medium);
    }
  }
} 
.header-menu-icon-hidden.top{
  top: 0;
  left: 0;
  right: 0;
  @include pxRem(height, 56);
  .logo-hidden{
    @include pxRem(width, 112);
    @include pxRem(height, 25);
    margin-left: 68%;
  }
  .btn-hidden{
    font-weight: map-get($font-weight, font-regular );
  }
  .item-card{
    @include pxRem(margin-left, 15);
    @include pxRem(font-size, 14);
  }
  a{
    @include pxRem(margin-left, 15);
    color: map-get($colors, color-text);
    position: relative;
    @include pxRem(font-size, 21);
  }
  .btn-hidden{
    @include pxRem(margin-left, 0);
  }
  .add-product{
    position: absolute;
    background-color: map-get($colors, color-primary );
    color: map-get($colors, color-background);
    border-radius: 50%;
    @include pxRem(padding, 0 4);
    @include pxRem(font-size, 9);
    left: 13px;
  }
}



//////end-basic 
@media only screen and (max-width: 1023px){
  .container, .container-elementor{
    @include pxRem(max-width, 1024);
    @include pxRem(padding,15);
  }
  .page-header{
    height: auto;
    .header-top, .header-nav{
      display: none;
    }
  }
 .header-bottom{
  @include pxRem(margin-top, 56);
 }
  .header-menu-icon-hidden{
    visibility: visible;
  }
}
///////
@media only screen and (max-width: 767px) {
  .container, .container-elementor{
    @include pxRem(max-width, 768);
    @include pxRem(padding,15);
  }
  .header-logo{
    @include pxRem(width, 112);
    @include pxRem(height, 25);
    .btn-icon{
      font-weight: map-get($font-weight, font-regular );
      @include pxRem(margin-right, 260%);
    }
  }
}

///////
@media only screen and (max-width: 479px) {
  .container, .container-elementor{
    @include pxRem(max-width, 480);
    @include pxRem(padding,15);
  }
  .header-logo{
    @include pxRem(width, 112);
    @include pxRem(height, 25);
    .btn-icon{
      font-weight: map-get($font-weight, font-regular );
      @include pxRem(margin-right, 130%);
    }
  }
}



